Flask>=2.2.0
google-cloud-datastore==2.3.0
google-cloud-storage>=1.42.3
gunicorn==20.1.0
google-auth==2.23.0  # Replacing oauth2client (if applicable)
google-auth-oauthlib==0.5.1  # Optional, for OAuth2 support
Flask-SQLAlchemy==2.5.1
PyMySQL==1.0.2
Flask-PyMongo==2.3.0
PyMongo==3.12.1
six==1.16.0  # Optional, if needed
